<section class="sidebar">
  <div class="nav-wrapper">
    <div class="sidebar-header">
      <a [routerLink]="['/']"><img src="/logo.png" alt="VLMR logo" class="logo" /></a>
    </div>
    <div class="sidebar-content">
      <nav class="sidebar-nav">
        <ul>
          <li>
            <a class="sidebar-link" (click)="selectCategory('New')" (keydown.enter)="selectCategory('New')">New</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('T-shirts')" (keydown.enter)="selectCategory('T-shirts')">T-shirts</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Hoodies')" (keydown.enter)="selectCategory('Hoodies')">Hoodies</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Hats')" (keydown.enter)="selectCategory('Hats')">Hats</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Bags')" (keydown.enter)="selectCategory('Bags')">Bags</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Accesories')" (keydown.enter)="selectCategory('Accesories')">Accessories</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Bottoms')" (keydown.enter)="selectCategory('Bottoms')">Bottoms</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Sweatshirts')" (keydown.enter)="selectCategory('Sweatshirts')">Sweatshirts</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Tops/Jerseys')" (keydown.enter)="selectCategory('Tops/Jerseys')">Tops/Jerseys</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Denim')" (keydown.enter)="selectCategory('Denim')">Denim</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="selectCategory('Womens')" (keydown.enter)="selectCategory('Womens')">Womens</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="sidebar-footer">
    <a id="ig-icon" href=""><i class='bx bxl-instagram'></i></a>
    <a>Shipping policy</a>
  </div>
</section>
